.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.City {
  margin-top: 32px;
}

.details {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 32px;
  width: 30%;
}

@media screen and (min-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
  }

  .App {
    height: 700px;
    width: 400px;
  }
}
