.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 32px;

  height: 100vh;
}

.City {
  margin-top: 16px;
}

.Icon {
  margin-top: 32px;
}

.Temperature {
  margin-top: 16px;
}

.details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 32px;
  width: 60%;
}

@media screen and (min-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
  }

  .App {
    height: 700px;
    width: 400px;
  }
}
