.App {
  display: flex;
  flex-direction: column;

  padding: 32px;

  height: 100vh;
}

.City {
  margin-top: 16px;
}

.Icon {
  margin-top: 32px;
}

.Temperature {
  margin-top: 16px;
}

.Description {
  margin-top: 64px;
}

.location {
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

.details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 16px;
  background: #d5d7ff;
  padding: 16px;
  border-radius: 5px;
}

.iconAndTemperature {
  display: flex;
  background: #ffefd7;
  border-radius: 5px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
  }

  .App {
    height: 700px;
    width: 400px;
  }
}
